package home

templ UploadResponseTemplate(response UploadResponse) {
  <div id="uploadResponse" class="mt-4 text-center">
    if response.Status == "error" {
      <div class="text-red-500 bg-red-100/10 p-3 rounded-lg font-bold">
        { response.Message }
      </div>
    } else if response.Status == "success" {
      <div class="text-green-500 bg-green-100/10 p-3 rounded-lg font-bold">
        { response.Message }
      </div>
    }
  </div>
}
